:root {
    --colorTexButton: #ffffff;
    --colorPrimaryButton: #fe5939;
    --colorSecundaryButton: #472d20;
    --colorDeleteButton: #d60303;
    --font: 'Roboto', sans-serif;
}

.wrapper {
    filter: url('#goo');
}

.wrapperBotonFormulario {
    text-align: end;
    display: inline-block;
}

.wrapperOrientacionBotonFormulario {
    text-align: end;
}

button {
    border: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 7px 0px 10px;
    line-height: 1;
    border-radius: 0px;
    position: relative;
    min-width: 120px;
    text-decoration: none;
    font-family: var(--font);
    font-size: 12px;
}

    button:before,
    button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }

    button:before {
        top: -25%;
        left: 20%;
    }

    button:after {
        bottom: -25%;
        right: 20%;
    }

    button:hover:before,
    button:hover:after {
        transform: none;
    }

.buttonPrimary {
    background: var(--colorPrimaryButton);
    color: var(--colorTexButton);
    
}

    .buttonPrimary:before,
    .buttonPrimary:after {
        background: var(--colorPrimaryButton);
    }

.buttonSecundary {
    background: var(--colorSecundaryButton);
    color: var(--colorTexButton);
}

    .buttonSecundary:before,
    .buttonSecundary:after {
        background: var(--colorSecundaryButton);
    }

.buttonDelete {
        background: var(--colorDeleteButton);
        color: var(--colorTexButton);
    }
    
        .buttonDelete:before,
        .buttonDelete:after {
            background: var(--colorDeleteButton);
        }
