
.contenedor_formulario {
    margin: auto;
    margin-bottom:20px;
    padding: 15px;
    padding-top:5px;
    padding-bottom:10px;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.5);
    /*background: transparent;*/
    box-shadow: 0 10px 20px rgba(0,0,0,.9);
    border-radius: 0px 60px 60px 60px;
    -moz-border-radius: 0px 60px 60px 60px;
    -webkit-border-radius: 0px 60px 60px 60px;
}

    .contenedor_formulario .contenedor_input {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contenedor_formulario .control {
        margin-bottom: 10px;
        position: relative;
    }

        .contenedor_formulario .control label {
            position: absolute;
            font-size: 16px;
            top: 11px;
            left: 9px;
            color: rgba(0,0,0,0.3);
        }

        .contenedor_formulario .control input, .contenedor_formulario .control input::-webkit-input-placeholder {
            padding: 5px 0px 5px 30px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: 0 10px 20px rgba(0,0,0,.7);
            font-size: 12px;
            width: 100%;
        }

        .contenedor_formulario .control select, .contenedor_formulario .control select::-webkit-select-placeholder {
            padding: 5px 0px 5px 30px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: 0 10px 20px rgba(0,0,0,.7);
            font-size: 12px;
            width: 100%;
        }

    .contenedor_formulario h2 {
        text-align: center;
        font-size: 25px;
    }

    .contenedor_formulario .form {
        display: none;
        padding-left:20px;
        padding-right:60px;
        padding-top: 10px;
        padding-bottom: 15px;
        
    }

        .contenedor_formulario .form:nth-child(1) {
            display: block;
        }

        .contenedor_formulario .form .wrapper {
            padding-top: 20px;
        }


    .fieldsContainer{
        display: grid;
        grid-auto-rows: 50px;
        grid-gap: 10px;
        margin: 2%;
        height: 350px;
        overflow-y:auto;/*added*/
      }
      
      /*.card{
        padding-top: 10px;
        background: rgb(255, 255, 255);
        text-align: center;
      }*/

      /*Card utilizada para la interfaz de agregar categoría en la etapa de solicitud*/
      .cards {
 
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
        grid-gap: 100%;
        background: rgb(255, 255, 255);
        
         
        }

        .card {
         
            border: 2px solid #e7e7e7;
            border-radius: 4px;
            padding: .5rem;
            padding-left: 0;
            padding-right: 0;
            border:none;
            width: 99%;
            text-align: center;
         
        }

        /*Card utilizada para la interfaz de agregar personas en la etapa de solicitud*/
        .cards1 {
 
            display: grid;
            grid-template-columns: repeat(3, 33.2%);
            grid-auto-rows: auto;
            background: rgb(255, 255, 255);
            
             
            }
            .card1 {
         
                border: 2px solid #e7e7e7;
                border-radius: 4px;
                padding: .5rem;
                padding-left: 0;
                padding-right: 0;
                border:none;
                width: 100%;
                text-align: center;
             
            }
    
         
        


/*Formulario con el elementos en una linea que parece que no ocupo pero se debe revisar*/
 /* Style the form - display items horizontally */
 .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }


.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }


  /*,dkjfhsldkjh*/

  .form-inline-fechas {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline-fechas label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline-fechas input {
    vertical-align: middle;
    padding: 5px 0px 5px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .fecha1
  {
      padding-right: 10%;
      width: 45%;
  }
  .fecha2
  {
      width: 45%;
  }
  

  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  } 



