@model SimRend.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>SimRend</title>

    <link rel="shortcut icon" href="~/img/favIcon1.png">

    <!-- vendor css -->
    <link href="~/lib/_fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/highlightjs/styles/github.css" rel="stylesheet">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/css/bracket.css">
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="d-flex align-items-center justify-content-center ht-100v">
        <video id="headVideo" class="pos-absolute a-0 wd-100p ht-100p object-fit-cover" autoplay muted loop>
            <source src="~/videos/videoUtal.webm" type="video/webm">
        </video><!-- /video -->

        <div class="overlay-body bg-black-7 d-flex align-items-center justify-content-center">

            <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 rounded bg-black-6">
                <div class="owl">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>

                <div class="signin-logo tx-center tx-28 tx-bold tx-white" style="background: rgba(255, 255, 255, 0.2); border-radius: 25px;"><span class="tx-normal">[</span> Sim<span class="tx-info">Rend</span> <span class="tx-normal">]</span></div>

                <div class="tx-white-5 tx-center mg-b-60"> </div>

                <div class="form-layout">
                        <div class="form-group select2-wrapper select2-dark select2-outline-dark">
                            <div class="input-group parsley-select" id="tipoUsuarioMarco">
                                <select id="tipoUsuario" class="form-control required" name="tipoUsuario" data-placeholder="Seleccione el tipo de usuario"
                                        data-parsley-class-handler="#tipoUsuarioMarco" data-parsley-errors-container="#errorTipoUsuario" required>
                                    <option selected disabled>Seleccione el tipo de usuario</option>
                                    <option value="Estudiante dirigente">Estudiante dirigente</option>
                                    <option value="Director">Director</option>
                                    <option value="Vicerector">Vicerector</option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                            </div>
                        <div id="errorTipoUsuario"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control fc-outline-dark" id="email" placeholder="Ingrese su correo" autocomplete="off" required>
                        <br>
                    </div><!-- form-group -->

                    <div class="form-layout-footer">
                        <button id="resetearClave" class="btn btn-warning btn-block" onclick="resetearClave()">Cambiar clave</button>
                        <button id="volver" class="btn btn-secondary btn-block" onclick="volverLogin()">Volver</button>
                    </div>
                </div>


                <!--div class="mg-t-60 tx-center">Not yet a member? <a href="" class="tx-info">Sign Up</a></div-->
            </div><!-- login-wrapper -->
        </div><!-- overlay-body -->
    </div><!-- d-flex -->


    <div id="modal-alert" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">

                    <div id="icon-problema">
                        <i class="icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    </div>

                    <div id="icon-modificar">
                        <i class="icon ion-ios-plus-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block"></i>
                    </div>
                    <div id="icon-modificar-success">
                        <i class="ionicons ion-ios-checkmark-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block"></i>
                    </div>

                    <div>
                        <h4 class="tx-warning" tx-semibold mg-b-20" id="title-alerta-modificar">Resetear clave</h4>
                        <h4 class="tx-danger" tx-semibold mg-b-20" id="title-alerta-problemas"></h4>
                    </div>

                    <div>
                        <p class="mg-b-20 mg-x-20" id="body-alerta"></p>
                    </div>

                    <div id="actions-alerta">

                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/peity/jquery.peity.min.js"></script>

    <script src="~/lib/jquery.flot/jquery.flot.js"></script>
    <script src="~/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>

    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/parsleyjs/i18n/es.js"></script>
    <script src="~/js/jquery.numeric.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="~/lib/jquery-ui/ui/i18n/datepicker-es.js"></script>
    <script>
        $(function ()
        {
            'use strict';

            // Check if video can play, and play it
            var video = document.getElementById('headVideo');
            video.addEventListener('canplay', function ()
            {
                video.play();
            });

        });


        $('#tipoUsuario').select2({
            containerCssClass: 'select2-outline-white',
            dropdownCssClass: 'bd-warning hover-warning',
            minimumResultsForSearch: Infinity, // disabling search
            placeholder: 'Seleccione el tipo de usuario'
        });

        function resetearClave()
        {
            $('#icon-problema').hide();
            $('#icon-modificar').hide();
            $('#icon-modificar-success').hide();

            $('#title-alerta-problemas').hide();
            $('#title-alerta-modificar').hide();

            $('#body-alerta').hide();

            $('#icon-modificar').show();
            $('#title-alerta-modificar').show();

            $('#body-alerta').text('¿Está seguro que desea resetear su clave?').show();

            var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
            var botonAceptar = '<button type="button" id="btnConfirmar" class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="confirmacionResetearClave()">Aceptar</button>';
            $('#actions-alerta').empty().append(botonCancelar);
            $('#actions-alerta').append(botonAceptar);
            $('#modal-alert').modal('show');
        }

        function confirmacionResetearClave()
        {
            $('#icon-modificar').hide();

            var tipoUsuario = $('#tipoUsuario').parsley();
            var email = $('#email').parsley();

            if (email.isValid() && tipoUsuario.isValid())
            {
                var datos = {
                    'TipoUsuario': $("#tipoUsuario").val(),
                    'Email': $("#email").val()
                };

                $.ajax({
                    url: "/Usuario/RecuperarClave",
                    method: "POST",
                    data: datos,
                    async: false,
                    success: function (respuesta)
                    {
                        var botonAceptar;
                        if (respuesta.validar)
                        {
                            $('#icon-modificar-success').show();
                            $('#body-alerta').text(respuesta.msj).show();
                            var botonAceptar = '<button type="button" id="volverLogin" data-dismiss="modal" class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5" onclick="volverLogin()">Aceptar</button >';
                        }
                        else
                        {
                            $('#title-alerta-modificar').hide();
                            $('#icon-problema').show();
                            $('#title-alerta-problemas').text('Problemas para resetear su clave').show();
                            $('#body-alerta').text(respuesta.msj).show();
                            botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Aceptar</button >';
                        }
                        $('#actions-alerta').empty().append(botonAceptar);
                    }
                });
            }
            else
            {
                email.validate();
                tipoUsuario.validate();
                if (!tipoUsuario.isValid())
                {
                    $('#tipoUsuario').addClass('is-invalid');
                }

                $('#title-alerta-modificar').hide();
                $('#icon-problema').show();
                $('#title-alerta-problemas').text('Problemas para resetear su clave').show();
                $('#body-alerta').text("Existen campos incompletos. Favor verificar que todos los campos esten con datos y vuelva a intentarlo.").show();
                botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Aceptar</button >';
                $('#actions-alerta').empty().append(botonAceptar);
            }
        }

        function volverLogin()
        {
            window.location.href = '/Usuario/Login';
        }

        $("#tipoUsuario").on("change", function ()
        {
            $(this).parsley().validate();
            if ($(this).hasClass("is-invalid"))
            {
                $(this).removeClass("is-invalid");
                $(this).addClass("is-valid");
            }
        });

    </script>
</body>
</html>
