@{
    ViewData["Title"] = "Crear usuario director";
}

<div class="br-pagetitle row">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text wd-auto" style="border:none;">
                <i class="icon ion-person-stalker"></i>
                <h4 style="padding-left:5%">Crear usuario director</h4>
            </div>
        </div>
    </div>
</div><!-- d-flex -->


<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="form-layout">


            <div class="row mg-b-25">
                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Nombre:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-map-marked-alt tx-20 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="nombre" required="required" class="form-control" id="nombre" type="text" placeholder="Ingrese el nombre del usuario director" onkeypress="" data-parsley-errors-container="#errorNombre">
                    </div>
                    <div id="errorNombre"></div>
                </div>

                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Email: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-at tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input autocomplete="off" name="email" required="required" class="form-control" id="email" type="email" placeholder="Ingrese el email del usuario director" onkeypress="" data-parsley-errors-container="#errorEmail">
                    </div>
                    <div id="errorEmail"></div>
                </div>

                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Clave: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-key tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input autocomplete="new-password" name="clave" required="required" class="form-control" id="clave" type="password" placeholder="Ingrese la clave del usuario director" onkeypress="" data-parsley-errors-container="#errorClave">
                        <div class="input-group-append">
                            <button type="button" id="verClave" class="btn btn-info btn-flat" onclick="mostrarClave()"><span id="iconoClave" class="fa fa-eye-slash icon"></span></button>
                        </div>
                    </div>
                    <div id="errorClave"></div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Sexo: </label>
                    <div class="input-group parsley-select" id="sexoMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-venus-mars tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="sexo" class="form-control required" data-placeholder="Seleccione el sexo del usuario director" id="sexo"
                                data-parsley-class-handler="#campusMarco" data-parsley-errors-container="#errorSexo" required>
                            <option selected disabled>Seleccione el sexo del usuario director</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                    <div id="errorSexo"></div>
                </div>

                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Cargo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-user-tag tx-20 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="cargo" required="required" class="form-control" id="cargo" type="text" placeholder="Ingrese el cargo del usuario director" onkeypress="" data-parsley-errors-container="#errorCargo">
                    </div>
                    <div id="errorCargo"></div>
                </div>

                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Fono anexo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-phone tx-20 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="fonoAnexo" required="required" class="form-control" id="fonoAnexo" type="text" placeholder="Ingrese el fono anexo del usuario director" onkeypress="" data-parsley-errors-container="#errorFonoAnexo">
                    </div>
                    <div id="errorFonoAnexo"></div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Campus: </label>
                    <div class="input-group parsley-select" id="campusMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-map-marked-alt tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="campus" class="form-control required" data-placeholder="Seleccione el campus al que pertenece el usuario director" id="campus"
                                onchange="obtenerOEs()" data-parsley-class-handler="#campusMarco" data-parsley-errors-container="#errorCampus" required>
                            <option selected disabled>Seleccione el campus al que pertenece el usuario director</option>
                        </select>
                    </div>
                    <div id="errorCampus"></div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Organización estudiantil: </label>
                    <div class="input-group parsley-select" id="oeMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fab fa-hubspot tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="oe" class="form-control required" data-placeholder="Seleccione la O.E. a la que pertenece el usuario director" id="oe"
                                data-parsley-class-handler="#oeMarco" data-parsley-errors-container="#errorOE" required disabled>
                            <option selected disabled>Seleccione la O.E. a la que pertenece el usuario director</option>

                        </select>
                    </div>
                    <div id="errorOE"></div>
                </div>
            </div>
            <div class="form-layout-footer">
                <div class="row" id="acciones">
                    <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                        <button class="btn btn-secondary" id="guardar" style="width:100%" onclick="volverDirectores()">
                            <i class="fas fa-window-close"></i> Cancelar
                        </button>
                    </div>
                    <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                        <button class="modal-effect btn btn-info tx-transform-none" id="guardar" data-effect="effect-just-me" style="width:100%" onclick="crearUsuarioDirector()">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->

<!-- MODAL ELIMINAR PROCESO -->
<div id="modal-alerta" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">

                <div id="icon-problema">
                    <i class="icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                </div>

                <div id="icon-create">
                    <i class="icon ion-ios-plus-outline tx-100 tx-info lh-1 mg-t-20 d-inline-block"></i>
                </div>
                <div id="icon-create-success">
                    <i class="ionicons ion-ios-checkmark-outline tx-100 tx-info lh-1 mg-t-20 d-inline-block"></i>
                </div>

                <div>
                    <h4 class="tx-info" tx-semibold mg-b-20" id="title-alerta-crear">Crear usuario vicerector</h4>
                    <h4 class="tx-danger" tx-semibold mg-b-20" id="title-alerta-problemas"></h4>
                </div>

                <div>
                    <p class="mg-b-20 mg-x-20" id="body-alerta"></p>
                </div>

                <div id="actions-alerta">

                </div>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
    
    
    



@section scripts
{
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/parsleyjs/i18n/es.js"></script>
    <script src="~/js/jquery.numeric.js"></script>
    <script src="~/js/Usuario.js"></script>
    <script>
        $(document).ready(function ()
        {
            obtenerCampus();
        });
        function mostrarClave()
        {
            var cambio = document.getElementById("clave");
            if (cambio.type == "password")
            {
                cambio.type = "text";
                $('#iconoClave').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else
            {
                cambio.type = "password";
                $('#iconoClave').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
        }
    </script>
}