@{
    ViewData["Title"] = "Crear organización estudiantil";
}

<div class="br-pagetitle row">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text wd-auto" style="border:none;">
                <i class="icon fas fa-sitemap"></i>
                <h4 style="padding-left:5%">Crear organizacion estudiantil</h4>
            </div>
        </div>
    </div>
</div><!-- d-flex -->


<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="form-layout">

            <div class="row mg-b-25">
                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Nombre:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-signature tx-20 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="nombreOE" required="required" class="form-control" id="nombreOE" type="text" placeholder="Ingrese el nombre de la organización estudiantil" onkeypress="" data-parsley-errors-container="#errorNombreOrganizacion">
                    </div>
                    <div id="errorNombreOrganizacion"></div>
                </div>

                <div class="form-group wd-auto col-sm-12 col-lg-6">
                    <label class="form-control-label">Email: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-at tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="emailOE" required="required" class="form-control" id="emailOE" type="email" placeholder="Ingrese el email de la organización estudiantil" onkeypress="" data-parsley-errors-container="#errorEmailOrganizacion">
                    </div>
                    <div id="errorEmailOrganizacion"></div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Campus: </label>
                    <div class="input-group parsley-select" id="campusMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-map-marked-alt tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="Campus" class="form-control required" data-placeholder="Seleccione el campus al que pertenece la O.E." id="campus"
                                data-parsley-class-handler="#campusMarco" data-parsley-errors-container="#errorCampus" required>
                            <option selected disabled>Seleccione el campus al que pertenece la organización estudiantil</option>
                        </select>
                    </div>
                    <div id="errorCampus"></div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Tipo de OE: </label>
                    <div class="input-group parsley-select" id="tipoOEMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fab fa-hubspot tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="TipoOE" class="form-control required" data-placeholder="Seleccione el tipo de O.E." id="tiposOE"
                                data-parsley-class-handler="#tipoOEMarco" data-parsley-errors-container="#errorTipoOE" required>
                            <option selected disabled>Seleccione el tipo de organización estudiantil</option>

                        </select>
                    </div>
                    <div id="errorTipoOE"></div>
                </div>

                <div class="form-group wd-auto col-lg-12 col-md-12">
                    <label class="form-control-label">Institucion: </label>
                    <div class="input-group parsley-select" id="institucionMarco">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-university tx-22 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <select name="institucion" class="form-control required" data-placeholder="Seleccione la inStitucion" id="institucion"
                                data-parsley-class-handler="#institucionMarco" data-parsley-errors-container="#errorInstitucion" required>
                            <option selected disabled>Seleccione la institucion</option>

                        </select>
                    </div>
                    <div id="errorInstitucion"></div>
                </div>
            </div>
            <div class="form-layout-footer">
                <div class="row" id="acciones">
                    <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                        <button class="btn btn-secondary" id="guardar" style="width:100%" onclick="volverOEs()">
                            <i class="fas fa-window-close"></i> Cancelar
                        </button>
                    </div>
                    <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                        <button class="modal-effect btn btn-info tx-transform-none" id="guardar" data-effect="effect-just-me" style="width:100%" onclick="crearOE()">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->

<!-- MODAL ELIMINAR PROCESO -->
<div id="modal-alert" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">

                <div id="icon-problema">
                    <i class="icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                </div>

                <div id="icon-create">
                    <i class="icon ion-ios-plus-outline tx-100 tx-info lh-1 mg-t-20 d-inline-block"></i>
                </div>
                <div id="icon-create-success">
                    <i class="ionicons ion-ios-checkmark-outline tx-100 tx-info lh-1 mg-t-20 d-inline-block"></i>
                </div>

                <div>
                    <h4 class="tx-info" tx-semibold mg-b-20" id="title-alerta-crear">Crear organización estudiantil</h4>
                    <h4 class="tx-danger" tx-semibold mg-b-20" id="title-alerta-problemas"></h4>
                </div>

                <div>
                    <p class="mg-b-20 mg-x-20" id="body-alerta"></p>
                </div>

                <div id="actions-alerta">

                </div>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
    
    
    



@section scripts
{
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/parsleyjs/i18n/es.js"></script>
    <script src="~/js/jquery.numeric.js"></script>
    <script src="~/js/OrganizacionEstudiantil.js"></script>
    <script>
        $(document).ready(function ()
        {
            obtenerDatos();
        });
    </script>
}