@using SimRend.Models
@model SimRend.Models.ModeloRendicion

@{
    ViewData["Title"] = "Rendicion";
}



<div class="form-inline" style="padding-top: calc(0.5em + 6px);">
    <h2>Información Rendición</h2>
</div>


<div class="contenedor_formulario">
    <div class="form">
        <div class="contenedor_input">
            <div class="control">
                <span><B>Número Resolución: </B></span>
                264.
            </div>

            <div class="control">
                <span><B>Unidad: </B></span>
                Escuela Ingeniería Civil en Computación.

            </div>

            <div class="control">
                <span><B>Nombre Jefe Directo: </B></span>
                Ruth Garrido.
            </div>

            <div class="control">
                <span><B>Responsable del Fondo: </B></span>
                Yorch Sepúlveda.
            </div>

            <div class="control">
                <span><B>Rut Responsable:  </B></span>
                17.824.523-6.
            </div>

            <div class="control">
                <span><B>Total Solicitado: </B></span>
                $382000
            </div>

            <div class="control">
                <span><B>Total Rendido:</B></span>
                $0
            </div>

            <div class="control">
                <span><B>Fono Anexo:   </B></span>
                3704. 
            </div>

            <div class="control">
                <span><B>Email: </B></span>
                yosepulveda11@alumnos.utalca.cl
            </div>

            <div class="control">
                <span><B>Días restantes: </B></span>
                11
            </div>
        </div>
    </div>       
</div>

    <div class="wrapperOrientacionBotonFormulario">
        
        <div class="wrapper wrapperBotonFormulario toggle">
            @using (Html.BeginForm("VolverIndex", "Solicitud", FormMethod.Get, new { @style = "border:none" }))
            {
                <button type="" class="buttonSecundary"  name="">Volver</button>
            }
        </div>
        <div class="wrapper wrapperBotonFormulario toggle">
            @using (Html.BeginForm("Rendicion", "Rendicion", FormMethod.Get, new { @style = "border:none" }))
            {
                <button type="" class="buttonPrimary"  name="">Modificar Rendición</button>
            }
        </div>

        <div class="wrapper wrapperBotonFormulario toggle">
            <button type="" class="buttonPrimary"  name="">Generar PDF</button>
        </div>
        
        <div class="wrapper wrapperBotonFormulario toggle">
            <button type="" class="buttonDelete"  name="">Finalizar</button>
        </div>
    </div>
<!--div class="wrapperOrientacionBotonFormulario">
        @using (Html.BeginForm("Rendicion", "Rendicion", FormMethod.Get, new { @style = "border:none" }))
        {
            <div class="wrapper wrapperBotonFormulario toggle">
                <button class="buttonPrimary" type="" name="">Modificar Rendicion</button>
            </div>
        }

        @using (Html.BeginForm("VolverIndex", "Solicitud", FormMethod.Get, new { @style = "border:none" }))
        {
            <div class="wrapper wrapperBotonFormulario toggle">
                <button class="buttonSecundary" type="" name="">Volver</button>
            </div>
        }
        <div class="wrapper wrapperBotonFormulario toggle">
            <button class="buttonDelete" type="" name="">Finalizar</button>
        </div>
</div--> 