@model IEnumerable<SimRend.Models.Categoria>

@{
    ViewData["Title"] = "Crear Solicitud";
}

    <div class="form-inline" style="padding-top: calc(0.5em + 6px);">
        <h2>Categoría de los gastos del evento</h2>

        <div class="wrapper toggle">
            <a href="#popup" ><button class="buttonPrimary"  name="">Agregar Categorías</button></a>
        </div>
    </div>


    <!--Contenido-->
    <div class="contenedor_formulario">
        <div class="fieldsContainer">
            @if (ViewData["Seleccionadas"] != null)
            {
                @foreach (var item in ViewData["Seleccionadas"] as List<Categoria>)
                {
                    @using (Html.BeginForm("EliminarCategoria", "Solicitud", FormMethod.Post, new { @style = "border:none" }))
                    {
                        <div class="cards">
                            <div class="" for="eliminarCategoria">
                                <div class="cards">
                                    <div class="card">
                                        <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@item.Nombre">
                                    </div>
                                    
                                    <div class="card">
                                        <div class="wrapper">
                                            <button type= "submit" class="buttonDelete"   name="">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    }
                }
            }
        </div>
    </div>

    @using (Html.BeginForm("Person", "Solicitud", FormMethod.Get, new { @style = "border:none" }))
    {
        <div class =" container" style="padding-top: calc(0.5em + 6px); text-align:right;">
            <div class="row">
                <div class="wrapper toggle">
                    <button type="submit" class="buttonPrimary"  name="">Siguiente</button>
                </div>
            </div>
        </div>
    }
    <!--Fin Contenido-->




    <!-- Modal -->
    <div class="modal-wrapper" id="popup">
        <div class="popup-contenedor">
            <div class="bar-title">
                <span>Agregar categoría</span>
            </div>
        <!--h2>Agregar categoría</h2-->

            @using (Html.BeginForm("AgregarCategoria", "Solicitud", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="popup-contenido">
                    <div class="control">
                        <span style="margin-left:5%; margin-rigth:5%;">Seleccione la categoría que desea agregar</span>
                        <select class="" for="seleccionCategoria" name="Nombre">
                            <option value="" disabled selected>Selecciona una categoría</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Nombre">@item.Nombre</option>
                                }
                        </select>
                    </div>
                </div>

                <div class="popup-footer">
                    <div class="wrapperOrientacionBotonFormulario">
                        <div class="wrapper wrapperBotonFormulario toggle">
                            <a href="#"><button type="button" class="buttonSecundary" data-dismiss="modal">Cerrar</button></a>
                        </div>
                        <div class="wrapper wrapperBotonFormulario toggle">
                            <button type="submit" class="buttonPrimary"  name="">Agregar</button>
                        </div>
                    </div>
                </div>
            }
            <!--a class="popup-cerrar" href="#">X</a-->
        </div>
    </div>





        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <!--#########################################Para crear solicitud#################################-->
            <!-- MATERIAL DESIGN ICONIC FONT -->
            <!--link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.css"-->
            <!-- STYLE CSS -->
            <!--link rel="stylesheet" href="~/css/style.css"-->
            <!--#################################################################################################-->
            <!--#############Para crear una solicitud################-->
            <!--script src="~/js/jquery-3.3.1.min.js"></script-->
            <!-- JQUERY STEP -->
            <!--script src="~/js/jquery.steps.js"></script-->
            <!--script src="~/js/main.js"></script-->
            <!--#####################################################-->
            <!--script src="~/js/bootstrap.js"></script-->


        }




