@using SimRend.Models
@model SimRend.Models.ModeloSolicitud

@{
    ViewData["Title"] = "Crear Solicitud";
}

<h2>Datos principales de la solicitud</h2>
@using (Html.BeginForm("Create", "Solicitud", FormMethod.Post, new { @style = "border:none" }))
{
<div class="contenedor_formulario">
    <div class="form">
        <div class="contenedor_input">

            <div class="control">
                <!--label for="email" class="fa fa-user"></label-->
                <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                <span>Nombre del evento</span>
                <input asp-for="Solicitud.NombreEvento" class="" required="required" type="text" placeholder="Nombre del evento">
            </div>

            <div class="control">
                <!--label for="email" class="fa fa-user"></label-->
                <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                <span>Lugar del evento</span>
                <input asp-for="Solicitud.LugarEvento" class="" required="required" type="text" placeholder="Lugar del evento">
            </div>

            <div class="form-inline-fechas">
                <div class="control fecha1">
                    <!--label for="email" class="fa fa-user"></label-->
                    <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                    <span>Fecha de inicio del evento</span>
                    <input asp-for="Solicitud.FechaInicioEvento" class="" required="required" type="date" placeholder="Fecha de inicio del evento">
                </div>

                <div class="control fecha2">
                    <!--label for="email" class="fa fa-user"></label-->
                    <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                    <span>Fecha de termino del evento</span>
                    <input asp-for="Solicitud.FechaTerminoEvento" class="" required="required" type="date" placeholder="Fecha de término del evento">
                </div>
            </div>
            

            <div class="control">
                <!--label for="email" class="fa fa-user"></label-->
                <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->

                <span>Monto($)</span>
                <input asp-for="Solicitud.Monto" class="" required="required" min="1">

            </div>

            <div class="control">
                <!--label for="email" class="fa fa-user"></label-->
                <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                <span>Responsable</span>
                <select asp-for="Solicitud.RutResponsable" class="">
                    <option value="" disabled selected>Selecciona un responsable</option>
                    @if (Model.Responsables != null)
                    {
                        @foreach (var item in Model.Responsables)
                        {
                            <option value="@item.Run">@item.Nombre</option>
                        }
                    }
                </select>
            </div>


            <div class="control">
                <span>TipoActividad</span>
                <select asp-for="Solicitud.TipoActividad" class="">
                    <option value="Masiva" selected>Masiva</option>
                    <option value="Grupal" selected>Grupal</option>
                </select>
            </div>

            
            <!--div style="margin-top: 2%; text-align: center">
                <label style="font-weight:bold">Tipo de actividad:</label>
                
                <input asp-for="Solicitud.TipoActividad" type="radio" id="actividad1" name="actividad" value="Masiva">
                <label for="radio1">Masiva</label>
                
                <input asp-for="Solicitud.TipoActividad"  type="radio" id="actividad1" name="actividad" value="Grupal">
                <label for="radio2">Grupal</label>
            </div-->
        </div>
    </div> 
</div>
<div class="wrapperOrientacionBotonFormulario">
    <div class="wrapper">
        <button class="buttonPrimary" type="submit" name="">Siguiente</button>
    </div>
</div>
}
    

 












































