@model SimRend.Models.Login
@{
    Layout = null;
}

<head>
    <title></title>
    <meta charset="UTF-8" class="">
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div class="owl">
        <div class="hand"></div>
        <div class="hand hand-r"></div>
        <div class="arms">
            <div class="arm"></div>
            <div class="arm arm-r"></div>
        </div>
    </div>
    <div class="contenedor_formulario">

        <!--Formulario de login-->
        <div class="form">
            <h2>Iniciar Sesión</h2>

            @using (Html.BeginForm("Validar", "Usuario", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="contenedor_input">
                    <div class="control">
                        <label for="email" class="fa fa-user"></label>
                        <!--input asp-for="Usuario" class="uname" required="required" type="text" placeholder="Nombre de la persona" /-->
                        <input asp-for="Usuario" class="" required="required" type="text" id="usuario" placeholder="Usuario">
                    </div>

                    <div class="control">
                        <label for="password" class="fa fa-asterisk"></label>
                        <!--input asp-for="Clave" class="uname" required="required" type="password" placeholder="eg. X8df!90EO" /-->
                        <input asp-for="Clave" class="" required="required" type="password" id="password" placeholder="Password">
                    </div>
                </div>
                

                <div class="wrapper">
                    <button class="buttonPrimary" type="submit" name="">Entrar</button>
                </div>
            }

            <div class="wrapper toggle">
                <button class="buttonSecundary" name="">Recuperar clave</button>
            </div>
        </div>

        <!--Formulario de cambiar clave-->
        <div class="form">
            <h2>Cambiar clave</h2>
            @using (Html.BeginForm("RecuperarClave", "Usuario", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="control">
                    <label for="email" class="fa fa-envelope"></label>
                    <input asp-for="Email" id="email" required="required" type="email" placeholder="Email"  class="">
                    <!--input asp-for="Email" class="email" required="required" type="text" placeholder="Email de la organización" /-->
                </div>

                <div class="wrapper">
                    <button class="buttonPrimary" type="submit" name="">Enviar clave</button>
                </div>

            }
            <div class="wrapper toggle">
                <button class="buttonSecundary"  name="">Volver</button>
            </div>
        </div>
    </div>
</body>

<!-- Filter: https://css-tricks.com/gooey-effect/ -->
<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
    </defs>
</svg>

<script class="">
      $('input[type="password"]').on('focus', function () {
          $('*').addClass('password');
        }).on('focusout', function () {
          $('*').removeClass('password');
        });;
              //# sourceURL=pen.js
</script>

<script type="text/javascript">
    $('.toggle').click(function(){
    $('.form').animate({
        height: "toggle",
        'padding-top': 'toggle',
        'padding-bottom': 'toggle',
        opacity: 'toggle'
    }, "slow");
});
</script>
