@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

:root {
    --colorTexButton: #ffffff;
    --colorPrimaryButton: #fe5939;
    --colorSecundaryButton: #472d20;
    --font: 'Roboto', sans-serif;
}

body {
    background-image: url(../images/Login/fondoLogin13.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1a8fb4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}

.owl {
    margin: auto;
    width: 220px;
    height: 108px;
    background-image: url("https://dash.readme.io/img/owl-login.png");
    top: 120px;
    position: relative;
}

    .owl .hand {
        width: 34px;
        height: 34px;
        border-radius: 40px;
        background-color: #472d20;
        transform: scaleY(0.6);
        position: absolute;
        left: 14px;
        bottom: -8px;
        transition: 0.3s ease-out;
    }

        .owl .hand.password {
            transform: translateX(42px) translateY(-15px) scale(0.7);
        }

        .owl .hand.hand-r {
            left: 170px;
        }

            .owl .hand.hand-r.password {
                transform: translateX(-42px) translateY(-15px) scale(0.7);
            }

    .owl .arms {
        position: absolute;
        top: 58px;
        height: 41px;
        width: 100%;
        overflow: hidden;
    }

        .owl .arms .arm {
            width: 40px;
            height: 65px;
            background-image: url("https://dash.readme.io/img/owl-login-arm.png");
            position: absolute;
            left: 20px;
            top: 40px;
            transition: 0.3s ease-out;
        }

            .owl .arms .arm.password {
                transform: translateX(40px) translateY(-40px);
            }

            .owl .arms .arm.arm-r {
                left: 158px;
                transform: scaleX(-1);
            }

                .owl .arms .arm.arm-r.password {
                    transform: translateX(-40px) translateY(-40px) scaleX(-1);
                }

.contenedor_formulario {
    margin: auto;
    margin-top: 111px;
    padding: 15px;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.5);
    /*background: transparent;*/
    box-shadow: 0 10px 20px rgba(0,0,0,.9);
    width: 250px;
    border-radius: 30px;
}

    .contenedor_formulario .contenedor_input
    {
        margin-bottom:25px;
    }

    .contenedor_formulario .control {
        margin-bottom: 10px;
        position: relative;
    }

        .contenedor_formulario .control label {
            position: absolute;
            font-size: 16px;
            top: 11px;
            left: 9px;
            color: rgba(0,0,0,0.3);
        }

        .contenedor_formulario .control input {
            padding: 9px 0px 9px 30px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: 0 10px 20px rgba(0,0,0,.7);
            font-size: 14px;
        }

    .contenedor_formulario h2 {
        text-align: center;
        font-size: 25px;
    }

.wrapper {
    filter: url('#goo');
}

button {
    border: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px 15px;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 180px;
    text-decoration: none;
    font-family: var(--font);
    font-size: 15px;
}

    button:before,
    button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }

    button:before {
        top: -25%;
        left: 20%;
    }

    button:after {
        bottom: -25%;
        right: 20%;
    }

    button:hover:before,
    button:hover:after {
        transform: none;
    }

.buttonPrimary {
    background: var(--colorPrimaryButton);
    color: var(--colorTexButton);
}
    .buttonPrimary:before,
    .buttonPrimary:after {
        background: var(--colorPrimaryButton);
    }

.buttonSecundary {
    background: var(--colorSecundaryButton);
    color: var(--colorTexButton);
}

    .buttonSecundary:before,
    .buttonSecundary:after {
        background: var(--colorSecundaryButton);
    }

.contenedor_formulario .form {
    display: none;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}

    .contenedor_formulario .form:nth-child(1) {
        display: block;
    }
