@{
    ViewData["Title"] = "Ver proceso";
}

<div class="br-pagetitle row">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text wd-auto" style="border:none;">
                <i class="icon fas fa-sitemap"></i>
                <h4 style="padding-left:5%">Ver Proceso</h4>
            </div>
        </div>

    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="card bd-0">
            <div class="card-header bg-teal-info bd bd-0 tx-white-8">
                Datos principales del evento
            </div><!-- card-header -->

            <div class="card-body bd bd-t-0 rounded-bottom-0">
                <div class="form-group wd-auto">
                    <label class="form-control-label">Nombre del evento:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-theater-masks tx-16 lh-0 op-6 fa-fw"></i></span>
                        </div>
                        <input name="NombreEvento" class="form-control" id="verNombreEvento" readonly type="text" placeholder="Ingrese el nombre del evento">
                    </div>
                </div>

                <div class="row row-sm">
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Lugar del evento:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fas fa-map-marked-alt tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="LugarEvento" class="form-control" id="verLugarEvento" readonly type="text" placeholder="¿Donde se realizará el evento?">
                        </div>
                    </div>
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Monto($): </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fa fa-money-bill-wave tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="Monto" class="form-control" id="verMonto" readonly type="text" placeholder="¿Cuanto será el monto a solicitar?">
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Fecha de inicio: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fas fa-calendar-plus tx-16 lh-0 op-6 fa-fw" style="text-align: center;"></i>
                                </div>
                            </div>
                            <input name="FechaInicio" type="text" class="form-control fc-datepicker" readonly placeholder="¿Cuando inicia el evento?" id="verFechaInicio">
                        </div>
                    </div>
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Fecha de término: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fas fa-calendar-check tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="FechaTermino" type="text" class="form-control fc-datepicker" readonly placeholder="¿Cuando terminará el evento?" id="verFechaTermino">
                        </div>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Responsable: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fa fa-user tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="idResponsable" class="form-control" id="verResponsable" readonly type="text" placeholder="¿Qué representante estará a cargo?">
                        </div>
                    </div>
                    <div class="form-group wd-auto col-lg-6 col-md-12">
                        <label class="form-control-label">Tipo de actividad: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fas fa-tag tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="TipoEvento" class="form-control" id="verTipoEvento" readonly type="text" placeholder="Seleccione el tipo de actividad">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bd bd-t-0">
                <div class="row" id="acciones">

                </div>
            </div>
        </div>
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->

@section scripts {
    <!--script src="http://codeseven.github.com/toastr/toastr.js"></script-->

    <!--script src="~/js/Solicitud.js"></script-->
    <script>
        $.extend($.fn.dataTable.defaults, {
            'destroy': true,
            'responsive': true,
            'dom': "Bfrtip",
            'searching': false,
            "bSortable": false,
            'ordering': false,
            'info': false,
            'autoWidth': true,
            'paging': true,
            'scrollX': false,
            'lengthChange': false,
            'processing': true,
            'iDisplayLength': 5,
            'language': {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });

        $(document).ready(function ()
        {
            obtenerSolicitud();
            $('#verTablaCategorias').DataTable();
            $('#verTablaParticipantes').DataTable();            
        });

        function obtenerSolicitud()
        {
            //var estado = null;
            $.ajax({
                url: "/Proceso/LeerProceso",
                method: "POST",
                async: "false",
                data: "",
                success: function (respuesta) {
                    datosPrincipales(respuesta.solicitud);
                    verOpciones(respuesta.estado);
                }
            }); 
        }

        function verOpciones(opcion) {
            var acciones = '';
            switch (opcion) {
                case 1:
                    acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volver" style="width:100%"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id = "editarSolicitud" style="width:100%"><i class="fas fa-edit"></i> Solicitud</button> </div>';
                    break;
                case 2:
                    acciones = '<div class="form-group  col-lg-4 col-md-4 col-sm-12"><button class="btn btn-secondary" id="volver" style="width:100%"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> </div>' +
                        '<div class="form-group col-lg-4 col-md-4 col-sm-12"><button class="btn btn-secondary" id="verSolicitud" style="width:100%"><i class="fas fa-eye"></i> Solicitud</button> </div>' +
                        '<div class="form-group  col-lg-4 col-md-4 col-sm-12"><button class="btn btn-info " id = "agregarResolucion" style="width:100%"><i class="fas fa-plus-circle"></i> Resolución</button> </div>';
                    break;
                default:
                    acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volver" style="width:100%"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="verSolicitud" style="width:100%"><i class="fas fa-eye"></i> Solicitud</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="verResolucion" style="width:100%"><i class="fas fa-eye"></i> Resolución</button> </div>' +
                        '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="verDeclaracionGasto" style="width:100%"><i class="fas fa-eye"></i> Declaración de gastos</button> </div>';
                        /*'<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="agregarDeclaracionGasto" style="width:100%"><i class="fas fa-plus-circle"></i> Declaración de gastos</button> </div>';*/
                    break;
                /*case 4:
                    acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volver" style="width:100%"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="verSolicitud" style="width:100%"><i class="fas fa-eye"></i> Solicitud</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="verResolucion" style="width:100%"><i class="fas fa-eye"></i> Resolución</button> </div>' +
                        '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="editarDeclaracionGasto" style="width:100%"><i class="fas fa-edit"></i> Declaración de gastos</button> </div>';
                    break;
                case 5:
                    acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volver" style="width:100%"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> </div>' +
                        '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="verSolicitud" style="width:100%"><i class="fas fa-eye"></i> Solicitud</button> </div>' +
                        '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="verResolucion" style="width:100%"><i class="fas fa-eye"></i> Resolución</button> </div>' +
                        '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="verDeclaracionGasto" style="width:100%"><i class="fas fa-eye"></i> Declaración de gastos</button> </div>';
                    break;*/
            }
            $('#acciones').append(acciones);

            $('#volver').click(function (e) {
                e.preventDefault();
                window.location.href = '/Proceso/Procesos/';
            });

            $('#editarSolicitud').click(function (e) {
                e.preventDefault();
                //alert("Editar solicitud");
                window.location.href = '/Solicitud/ActualizarSolicitud';
            });

            $('#verSolicitud').click(function (e) {
                e.preventDefault();
                //alert("Ver solicitud");
                window.location.href = '/Solicitud/VerSolicitud/';
            });

            $('#agregarResolucion').click(function (e) {
                e.preventDefault();
                window.location.href = '/Resolucion/CrearResolucion/';
            });

            $('#verResolucion').click(function (e) {
                e.preventDefault();
                //alert("Ver resolución
                window.location.href = '/Resolucion/VerResolucion/';
            });

            $('#agregarDeclaracionGasto').click(function (e) {
                e.preventDefault();
                alert("Agregar declaración de gastos");
            });

            $('#editarDeclaracionGasto').click(function (e) {
                e.preventDefault();
                alert("Editar declaración de gastos");
            });

            $('#verDeclaracionGasto').click(function (e) {
                e.preventDefault();
                window.location.href = '/DeclaracionGastos/VerDeclaracionGastos/';
            });

        }

        function datosPrincipales(solicitud)
        {
            console.log(solicitud);
            $("#verNombreEvento").val(solicitud.nombreEvento);
            $("#verLugarEvento").val(solicitud.lugarEvento);
            $("#verMonto").val(formatoNumero(solicitud.monto));
            $("#verFechaInicio").val(solicitud.fechaInicioEvento.split("T")[0]);
            $("#verFechaTermino").val(solicitud.fechaTerminoEvento.split("T")[0]);
            $("#verResponsable").val(solicitud.nombreResponsable);
            $("#verTipoEvento").val(solicitud.tipoEvento);
        }

        function categorias(categorias)
        {
            var resp = "";
            for (var i = 0; i < categorias.length; i++)
            {
                if (i === 0 || i % 2 === 0)
                {
                    resp += "<tr class='odd'>";
                }
                else {
                    resp += "<tr>";
                }
                resp += "<td>" + categorias[i].nombre + "</td></tr>";
            }
            $("#verTablaCategorias > tbody").empty();
            $("#verTablaCategorias > tbody").append(resp);
        }

        function participantes(participantes)
        {
            var resp = "";
            for (var i = 0; i < participantes.length; i++)
            {
                if (i === 0 || i % 2 === 0) {
                    resp += "<tr class='odd'>";
                }
                else {
                    resp += "<tr>";
                }
                resp += "<td>" + participantes[i].nombre + "</td>"+
                        "<td>" + participantes[i].run + "</td></tr>";
            }
            $("#verTablaParticipantes > tbody").empty();
            $("#verTablaParticipantes > tbody").append(resp);

        }

        function formatoNumero(num)
        {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
        }
    </script>
}

