@model SimRend.Models.Solicitud

@{
ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaActual" class="control-label">Fecha Actual</label>
                <input asp-for="FechaActual" type ="date" class="form-control" id="FechaActual" />
                <!--div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div-->
                <span asp-validation-for="FechaActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label">Monto a solicitar</label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label">Nombre del evento</label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label">Fecha del evento</label>
                <input asp-for="FechaEvento" type ="date" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarEvento" class="control-label">Lugar del evento</label>
                <input asp-for="LugarEvento" class="form-control" />
                <span asp-validation-for="LugarEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsable" class="control-label">Responsable de la solicitud</label>
                <input asp-for="Responsable" class="form-control" />
                <span asp-validation-for="Responsable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}