@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Ver Declaración de gastos";
}

<div class="br-pagetitle row">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text wd-auto" style="border:none;">
                <!--i class="icon fas fa-sitemap"></i-->
                <i class="icon fas fa-file-invoice-dollar"></i>
                <h4 style="padding-left:5%">Ver declaración de gastos</h4>
            </div>
        </div>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Número de resolucion:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-fingerprint tx-16 lh-0 op-6 fa-fw"></i></span>
                        </div>
                        <input name="numeroResolucion" class="form-control" id="numeroResolucion" readonly type="text" placeholder="Numero de resolución">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Fecha límite para declarar gastos: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-calendar-alt tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="fechaLimite" class="form-control" id="fechaLimite" readonly type="text" placeholder="Fecha límite">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Días restante: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-calendar-alt tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="diasRestantes" class="form-control" id="diasRestantes" readonly type="text" placeholder="Dias restantes">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Monto total solicitado($): </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-money-bill-wave tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="totaLSolicitado" class="form-control" id="totalSolicitado" readonly type="text" placeholder="Monto total solicitado">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Monto total documentos($): </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-money-bill-wave tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="totalDocumentos" class="form-control" id="totalDocumentos" readonly type="text" placeholder="Monto total documentos">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-4 col-md-12">
                    <label class="form-control-label">Monto total rendido($): </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-money-bill-wave tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="totalRendido" class="form-control" id="totalRendido" readonly type="text" placeholder="Monto total rendido">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-12 col-md-12">
                    <label class="form-control-label">Unidad:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-building  tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="unidad" class="form-control" id="unidad" readonly type="text" placeholder="Unidad">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Nombre jefe directo: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-user tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="jefeDirecto" class="form-control" id="jefeDirecto" readonly type="text" placeholder="Nombre jefe directo">
                    </div>
                </div>

                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Fono anexo: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-phone tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="fonoAnexo" class="form-control" id="fonoAnexo" readonly type="text" placeholder="Fono anexo">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">Responsable del fondo: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fa fa-user tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="responsable" type="text" class="form-control" readonly placeholder="Responsable del fondo" id="responsable">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-6 col-md-12">
                    <label class="form-control-label">RUN Responsable: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-address-card tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="runResponsable" type="text" class="form-control" readonly placeholder="RUN del responsable" id="runResponsable">
                    </div>
                </div>
                <div class="form-group wd-auto col-lg-12 col-md-12">
                    <label class="form-control-label">Email: </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text wd-xs-45">
                                <i class="fas fa-at tx-16 lh-0 op-6 fa-fw"></i>
                            </div>
                        </div>
                        <input name="emailResponsable" class="form-control" id="emailResponsable" readonly type="text" placeholder="Email responsable">
                    </div>
                </div>
            </div>
            <div class="form-layout-footer">
                <div class="row" id="acciones">

                </div>
            </div>
        </div>
    </div><!-- br-section-wrapper -->
    <!-- MODAL ELIMINAR DOCUMENTO -->
    <div id="modal-alerta-eliminar-documento" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <i class="ionicons ion-ios-help-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20" id="title-alerta-eliminar-documento"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-alerta-eliminar-documento"></p>

                    <div id="actions-alerta-eliminar-documento">

                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- MODAL INFORMACION ELIMINACION -->
    <div id="modal-informacion-eliminacion" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success tx-semibold mg-b-20" id="title-informacion-eliminacion"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-informacion-eliminacion"></p>
                    <button type="button" id="btn-DocumentosEliminados" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                        Aceptar
                    </button>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- MODAL ALERTA -->
    <div id="modal-alerta" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <div id="icono-alerta"></div>
                    <h4 class="tx-danger  tx-semibold mg-b-20" id="title-alerta"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-alerta"></p>
                    <div id="actions-alerta">

                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- MODAL INFORMACION -->
    <div id="modal-alerta-informacion" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <div id="icono-alerta-informacion"></div>
                    <h4 class="tx-success  tx-semibold mg-b-20" id="title-alerta-informacion"></h4>
                    <p class="mg-b-20 mg-x-20" id="body-alerta-informacion"></p>
                    <div id="actions-alerta-informacion">

                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div id="modal-montoExcedente" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <i class="icon fa fa-money-bill-wave tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success  tx-semibold mg-b-20">Monto Excedente</h4>
                    <div class="form-group wd-auto col-lg-12 col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text wd-xs-45">
                                    <i class="fa fa-money-bill-wave tx-16 lh-0 op-6 fa-fw"></i>
                                </div>
                            </div>
                            <input name="monto" class="form-control" id="monto" required="required" type="text" placeholder="¿Cuanto será el monto que puede exceder la declaración de gastos?" data-parsley-error-message="El monto no debe estar vacio y debe ser mayor o igual a cero." data-parsley-errors-container="#errorMonto">
                        </div>
                        <div id="errorMonto"></div>
                    </div>
                    <button type="button" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" onclick="seleccionarDocumentacionAutomatica()">
                        Aceptar
                    </button>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div><!-- br-pagebody -->

@section scripts{
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/parsleyjs/i18n/es.js"></script>
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script>
        $(document).ready(function ()
        {
            obtenerDatos();
        });

        var procesoAux;

        function formatearRut(run)
        {
            let runAux = run.replace(/\./g, '').replace('-', '');

            if (runAux.match(/^(\d{2})(\d{3}){2}(\w{1})$/))
            {
                runAux = runAux.replace(/^(\d{2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4');
            }
            else if (runAux.match(/^(\d)(\d{3}){2}(\w{0,1})$/))
            {
                runAux = runAux.replace(/^(\d)(\d{3})(\d{3})(\w{0,1})$/, '$1.$2.$3-$4');
            }
            else if (runAux.match(/^(\d)(\d{3})(\d{0,2})$/))
            {
                runAux = runAux.replace(/^(\d)(\d{3})(\d{0,2})$/, '$1.$2.$3');
            }
            else if (runAux.match(/^(\d)(\d{0,2})$/))
            {
                runAux = runAux.replace(/^(\d)(\d{0,2})$/, '$1.$2');
            }
            return runAux;
        };

        $("#monto").on({
            "focus": function (event)
            {
                $(event.target).select();
            },
            "keyup": function (event)
            {
                $(event.target).val(function (index, value)
                {
                    return value.replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
                });
            }
        });

        function obtenerDatos()
        {
            $.ajax({
                url: "/DeclaracionGastos/LeerDeclaracionGastos",
                method: "POST",
                data: {},
                success: function (respuesta)
                {
                    procesoAux = respuesta;
                    var fechaActual = moment().format('YYYY-MM-DD');
                    var fechaLimite = respuesta.proceso.declaracionGastos.fechaLimite.split('T')[0];
                    $('#numeroResolucion').val(respuesta.proceso.resolucion.numResolucion);
                    $('#fechaLimite').val(fechaLimite);
                    $('#diasRestantes').val(moment(fechaLimite).diff(moment(fechaActual), 'days'));
                    $('#totalSolicitado').val(formatoNumero(respuesta.proceso.solicitud.monto));
                    $('#totalDocumentos').val(formatoNumero(respuesta.proceso.declaracionGastos.totalDocumentacion));
                    $('#totalRendido').val(formatoNumero(respuesta.proceso.declaracionGastos.totalRendido));
                    $('#unidad').val(respuesta.proceso.direccion.institucion.nombre);
                    $('#jefeDirecto').val(respuesta.proceso.direccion.nombre);
                    $('#fonoAnexo').val(respuesta.proceso.direccion.fonoAnexo);
                    $('#responsable').val(respuesta.proceso.responsable.nombre);
                    $('#runResponsable').val(formatearRut(respuesta.proceso.responsable.run));
                    $('#emailResponsable').val(respuesta.proceso.responsable.email);
                    verOpciones(respuesta.proceso.estado, respuesta.proceso.estadoFinal, respuesta.tipoUsuario);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#title-alerta').text(textStatus);
                    $('#body-alerta').text(errorThrown);
                    var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                    $('#actions-alerta').empty().append(boton);
                    $('#modal-alerta').modal('show');
                }
            });

        }

        function formatoNumero(num)
        {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
        }

        function verOpciones(estado, estadoFinal, tipoUsuario)
        {
            console.log(tipoUsuario);
            var acciones = "";
            if (estadoFinal == "Abierto" && tipoUsuario == "Estudiante dirigente")
            {
                switch (estado)
                {
                    case 3:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>' +
                            '<div class="form-group  col-lg-12 col-md-12 col-sm-12"><button class="modal-effect btn btn-info" data-effect="effect-just-me" style="width:100%" onclick="documentacion()"><i class="fas fa-plus"></i> Agregar Documentación</button> </div>';

                        break;
                    case 4:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="modal-effect btn btn-info" data-effect="effect-just-me" style="width:100%" onclick="documentacion()"><i class="fas fa-eye"></i> Documentación</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-danger" style="width:100%" onclick="eliminarDocumentosDG()"><i class="fas fa-trash"></i> Eliminar</button> </div>' +
                            '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="generar" style="width:100%"><i class="fas fa-file-signature"></i> Generar declaración de gastos</button> </div>' +
                            '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="finalizar" style="width:100%"><i class="fas fa-file-signature"></i> Finalizar declaración</button> </div>';

                        break;
                    default:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="modal-effect btn btn-secondary" data-effect="effect-just-me" style="width:100%" onclick="documentacion()"><i class="fas fa-eye"></i> Documentación</button> </div>' +
                            '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="descargar" style="width:100%"><i class="fas fa-download"></i> Descargar</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="modal-effect btn btn-danger" data-effect="effect-just-me" id = "rechazar" style="width:100%"><i class="fas fa-window-close"></i> Declaración rechazada</button> </div>' +
                            '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="aceptar" style="width:100%"><i class="fas fa-check-square"></i> Declaración aceptada</button> </div>';
                        break;
                }
            }
            else
            {
                switch (estado)
                {
                    case 3:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>';

                        break;
                    case 4:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>' +
                            '<div class="form-group  col-lg-12 col-md-12 col-sm-12"><button class="modal-effect btn btn-info" data-effect="effect-just-me" style="width:100%" onclick="documentacion()"><i class="fas fa-eye"></i> Documentación</button> </div>';

                        break;
                    default:
                        acciones = '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProceso" style="width:100%"><i class="fas fa-sitemap"></i> Volver a proceso</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="btn btn-secondary" id="volverProcesos" style="width:100%"><i class="fas fa-clipboard-list"></i> Volver a procesos</button> </div>' +
                            '<div class="form-group  col-lg-6 col-md-6 col-sm-12"><button class="modal-effect btn btn-info" data-effect="effect-just-me" id = "documentacion" style="width:100%"><i class="fas fa-eye"></i> Documentación</button> </div>' +
                            '<div class="form-group col-lg-6 col-md-6 col-sm-12"><button class="btn btn-info" id="descargar" style="width:100%"><i class="fas fa-download"></i> Descargar</button> </div>';
                        break;
                }
            }


            $('#acciones').empty().append(acciones);

            $('#volverProceso').click(function (e)
            {
                e.preventDefault();
                window.location.href = '/Proceso/VerProceso';
            });

            $('#volverProcesos').click(function (e)
            {
                e.preventDefault();
                window.location.href = '/Proceso/Procesos/';
            });

            $('#generar').click(function (e)
            {
                e.preventDefault();
                $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-help-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                $('#title-alerta-informacion').text("Generar declaración de gastos");
                $('#body-alerta-informacion').text("¿Está seguro que desea que el sistema seleccione la documentación a declarar?");

                var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
                var botonAceptar = '<button type="button" id="solicitarExcedente" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="solicitarExcedente()">Aceptar</button>';

                $('#actions-alerta-informacion').empty().append(botonCancelar);
                $('#actions-alerta-informacion').append(botonAceptar);
                $('#modal-alerta-informacion').modal('show');

            });



            $('#finalizar').click(function (e)
            {
                e.preventDefault();
                $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-help-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                $('#title-alerta-informacion').text("Finalizar declaración de gastos");
                $('#body-alerta-informacion').text("¿Está seguro que desea finalizar la delcaración de gastos?");

                var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
                var botonAceptar = '<button type="button" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="FinalizarDG()">Aceptar</button>';

                $('#actions-alerta-informacion').empty().append(botonCancelar);
                $('#actions-alerta-informacion').append(botonAceptar);
                $('#modal-alerta-informacion').modal('show');
            });

            $('#descargar').click(function (e)
            {
                e.preventDefault();
                window.location.href = '/DeclaracionGastos/DescargarDG';
            });

            $('#rechazar').click(function (e)
            {
                e.preventDefault();
                $('#icono-alerta').empty().append('<i class="icon icon ion-ios-help-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                $('#title-alerta').text("Declaración de gastos rechazada");
                $('#body-alerta').text("¿Está seguro que desea rechazar la delcaración de gastos?");

                var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
                var botonAceptar = '<button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="RechazarDG()">Aceptar</button>';

                $('#actions-alerta').empty().append(botonCancelar);
                $('#actions-alerta').append(botonAceptar);
                $('#modal-alerta').modal('show');
            });

            $('#aceptar').click(function (e)
            {
                e.preventDefault();
                $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-help-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                $('#title-alerta-informacion').text("Declaración de gastos aceptada");
                $('#body-alerta-informacion').text("¿Está seguro que desea aceptar la delcaración de gastos?");

                var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
                var botonAceptar = '<button type="button" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="AceptarDG()">Aceptar</button>';

                $('#actions-alerta-informacion').empty().append(botonCancelar);
                $('#actions-alerta-informacion').append(botonAceptar);
                $('#modal-alerta-informacion').modal('show');
            });

        }

        function solicitarExcedente()
        {
            $('#modal-alerta-informacion').modal('hide');
            $('#modal-montoExcedente').modal('show');
        };

        function seleccionarDocumentacionAutomatica()
        {
            //$('#modal-alerta-informacion').modal('hide');

            var monto = $('#monto').parsley();
            if (monto.isValid() && parseInt($("#monto").val().replace(/\D/g, ""), 10) >= 0)
            {
                $('#modal-montoExcedente').modal('hide');
                $.ajax({
                    async: false,
                    url: "/DeclaracionGastos/GenerarDG",
                    method: "POST",
                    data: { "Excedente": $("#monto").val().replace(/\D/g, "") },
                    success: function (respuesta)
                    {

                        if (respuesta == true)
                        {
                            $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                            $('#title-alerta-informacion').text("Declaración de gastos realizada");
                            $('#body-alerta-informacion').text("La selección de documentación automatica para la declaración de gastos se ha realizado exitosamente.");

                            var botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5" onclick="CerrarModalAlertaInfo()">Aceptar</button >';

                            $('#actions-alerta-informacion').empty().append(botonAceptar);
                            $('#modal-alerta-informacion').modal('show');
                        }
                        else
                        {
                            $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                            $('#title-alerta').text("Alerta");
                            $('#body-alerta').text("No se han seleccionado documentos automaticamente para generar la declaración de gastos. Favor de volver a intentarlo y si el problema persiste, contactese con soporte.");
                            var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                            $('#actions-alerta').empty().append(boton);
                            $('#modal-alerta').modal('show');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown)
                    {
                        $('#title-alerta').text(textStatus);
                        $('#body-alerta').text(errorThrown);
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                });
            }
            else
            {
                $('#monto').val('');
                monto.validate();
            }

        }

        function FinalizarDG()
        {
            $('#modal-alerta-informacion').modal('hide');
            $.ajax({
                async: false,
                //url: "/DeclaracionGastos/ActualizarEstadoProceso",
                url: "/DeclaracionGastos/FinalizarDG",
                method: "POST",
                data: "",
                //data: {'Estado':5},
                success: function (respuesta)
                {
                    if (respuesta == true)
                    {
                        $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta-informacion').text("Declaración de gastos finalizada");
                        $('#body-alerta-informacion').text("La declaración de gastos ha sido finalizada exitosamente.");

                        var botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5" onclick="CerrarModalAlertaInfo()">Aceptar</button >';

                        $('#actions-alerta-informacion').empty().append(botonAceptar);
                        $('#modal-alerta-informacion').modal('show');
                    }
                    else
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Alerta");
                        $('#body-alerta').text("No se ha finalizado la declaración de gastos. Favor de volver a intentarlo y si el problema persiste, contactese con soporte.");
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#title-alerta').text(textStatus);
                    $('#body-alerta').text(errorThrown);
                    var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                    $('#actions-alerta').empty().append(boton);
                    $('#modal-alerta').modal('show');
                }
            });
        }

        function RechazarDG()
        {
            $('#modal-alerta-informacion').modal('hide');
            $.ajax({
                async: false,
                //url: "/DeclaracionGastos/ActualizarEstadoProceso",
                url: "/DeclaracionGastos/RechazarDG",
                method: "POST",
                //data: { 'Estado': 4 },
                data: "",
                success: function (respuesta)
                {
                    if (respuesta == true)
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-checkmark-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Declaración de gastos finalizada");
                        $('#body-alerta').text("La declaración de gastos ha sido finalizada exitosamente.");

                        var botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5" onclick="CerrarModalAlerta()">Aceptar</button >';

                        $('#actions-alerta').empty().append(botonAceptar);
                        $('#modal-alerta').modal('show');
                    }
                    else
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Alerta");
                        $('#body-alerta').text("No se ha rechazado la declaración de gastos. Favor de volver a intentarlo y si el problema persiste, contactese con soporte.");
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#title-alerta').text(textStatus);
                    $('#body-alerta').text(errorThrown);
                    var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                    $('#actions-alerta').empty().append(boton);
                    $('#modal-alerta').modal('show');
                }
            });
        }

        function AceptarDG()
        {
            $('#modal-alerta-informacion').modal('hide');
            $.ajax({
                async: false,
                //url: "/DeclaracionGastos/ActualizarEstadoProceso",
                url: "/DeclaracionGastos/AceptarDG",
                method: "POST",
                //data: { 'Estado': 6 },
                data: "",
                success: function (respuesta)
                {
                    if (respuesta == true)
                    {
                        $('#icono-alerta-informacion').empty().append('<i class="icon icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta-informacion').text("Declaración de gastos aceptada");
                        $('#body-alerta-informacion').text("La declaración de gastos ha sido aceptada y el proceso se ha finalizado exitosamente.");

                        var botonAceptar = '<button type="button" data-dismiss="modal" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5" onclick="CerrarModalAlertaInfo()">Aceptar</button >';

                        $('#actions-alerta-informacion').empty().append(botonAceptar);
                        $('#modal-alerta-informacion').modal('show');
                    }
                    else
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Alerta");
                        $('#body-alerta').text("No se ha aceptado la declaración de gastos. Favor de volver a intentarlo y si el problema persiste, contactese con soporte.");
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#title-alerta').text(textStatus);
                    $('#body-alerta').text(errorThrown);
                    var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                    $('#actions-alerta').empty().append(boton);
                    $('#modal-alerta').modal('show');
                }
            });
        }

        function CerrarModalAlertaInfo()
        {
            $('#modal-alerta-informacion').modal('hide');
            actualizarPagina();
        }

        function CerrarModalAlerta()
        {
            $('#modal-alerta').modal('hide');
            actualizarPagina();
        }

        function documentacion()
        {
            var tipoEvento = procesoAux.proceso.solicitud.tipoEvento;
            switch (tipoEvento)
            {
                case 'Grupal':
                    window.location.href = '/DeclaracionGastos/DocumentacionPersonas';
                    break;
                default:
                    $.ajax({
                        async: false,
                        url: "/DeclaracionGastos/GuardarIdParticipante",
                        method: "POST",
                        data: {
                            'IdParticipante': "-1",
                        },
                        success: function (respuesta)
                        {
                            window.location.href = '/DeclaracionGastos/Documentos';
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown)
                        {
                            $('#title-alerta').text(textStatus);
                            $('#body-alerta').text(errorThrown);
                            var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                            $('#actions-alerta').empty().append(boton);
                            $('#modal-alerta').modal('show');
                        }
                    });
                    break;
            }
        };

        function eliminarDocumentosDG()
        {
            $('#title-alerta-eliminar-documento').text("Eliminar documentos");
            $('#body-alerta-eliminar-documento').text("¿Está seguro que desea eliminar todos los documento de la declaracion de gasto?");

            var botonCancelar = '<button type="button" data-dismiss="modal" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-r-5">Cancelar</button >';
            var botonAceptar = '<button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-l-5" onclick="confirmarEliminarDocumentosDG()">Aceptar</button>';

            $('#actions-alerta-eliminar-documento').empty().append(botonCancelar);
            $('#actions-alerta-eliminar-documento').append(botonAceptar);
            $('#modal-alerta-eliminar-documento').modal('show');
        }

        function confirmarEliminarDocumentosDG()
        {
            $('#modal-alerta-eliminar-documento').modal('hide');
            $.ajax({
                async: false,
                url: "/DeclaracionGastos/EliminarDocumentosDG",
                method: "POST",
                data: "",
                success: function (respuesta)
                {
                    if (respuesta == "1")
                    {
                        $('#title-informacion-eliminacion').text("Eliminacion exitosa");
                        $('#body-informacion-eliminacion').text("Se eliminaron todos los documentos y la carpeta de la declaración de gastos.");
                        $('#modal-informacion-eliminacion').modal('show');
                    }
                    else if (respuesta == "0")
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Alerta");
                        $('#body-alerta').text("No se eliminaron los documentos de la declaración de gastos debido a que no existen.");
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                    else
                    {
                        $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                        $('#title-alerta').text("Alerta");
                        $('#body-alerta').text("No se eliminaron los documentos debido a que ha ocurrido un problema de conexión. Favor de volver a intentarlo y si el problema persiste contactar a soporte");
                        var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                        $('#actions-alerta').empty().append(boton);
                        $('#modal-alerta').modal('show');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#icono-alerta').empty().append('<i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>');
                    $('#title-alerta').text(textStatus);
                    $('#body-alerta').text(errorThrown);
                    var boton = '<button type="button" data-dismiss="modal" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aceptar</button>';
                    $('#actions-alerta').empty().append(boton);
                    $('#modal-alerta').modal('show');
                }
            });
        }

        $('#btn-DocumentosEliminados').click(function (e)
        {
            e.preventDefault();
            $('#modal-informacion-eliminacion').modal('hide');
            actualizarPagina();
        });

        function actualizarPagina()
        {
            window.location.href = '/DeclaracionGastos/VerDeclaracionGastos';
        }
    </script>
}